<div style="margin-top:100px"></div>


<div>
  <p> current_user <%= current_user.id %></p>
  <h1>My messages</h1>
  <ul>
    <% @latest_messages.each do |msg| %>
      <li>
        <div  data-controller="new-msg-notif"
              data-new-msg-notif-chatroom-id-value="<%= msg.chatroom_id %>"
              data-new-msg-notif-updatenewmsg-value="<%= true %>">
          <% @chatroom = Chatroom.find(msg.chatroom_id) %>
          <p><%= link_to @chatroom.name, chatroom_path(msg.chatroom_id)  %></p>
          <p><%= User.find(@chatroom.admin_id).email %></p>
          <div  data-new-msg-notif-target="messages"="<%= @chatroom.id %>">
            <p><%= Message.where(chatroom_id: @chatroom.id).last.content %></p>
            <p><%#= Message.find(msg.latest_message_id).content %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<div >
  <% if current_user.admin? %>
      <h1>My chatroom as admin</h1>
    <% if @chatrooms.any? %>
    <ul>
      <% @chatrooms.each do |cr| %>
      <li>
        <%= link_to cr.name, chatroom_path(cr.id)  %>
      </li>
      <% end %>
    </ul>
    <% else %>
      <p>No rooms</p>
    <% end %>
  <% end %>
</div>
