<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">

    <div class="logo-container d-flex justify-content-start">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag("5-removebg-preview2.png", style: "height: 60px; width:65px;") %>
        <!--"https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png"-->
      <% end %>
    </div> <!-- logo container closing tag-->

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

<div class="navlink-container d-flex justify-content-center">
    <%# <div class="collapse navbar-collapse" id="navbarSupportedContent"> %>

        <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <%= link_to "Discover venues", venues_path , class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Discover locations", locations_path , class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "My bookings", orders_path , class: "nav-link" %>
        </li>

        <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>

         <!-- > <li class="nav-item">
            <%= current_user.email %> -->

        <li class="Carts">
          <%= link_to "Carts", cart_path(@cart) , class: "nav-link" %>
        </li>

        <li id="notif" class="nav-item">
          <% last_message_sent = Message.where(user_id: current_user.id).order(created_at: :desc).first %>
          <% if last_message_sent.present? %>
            <% chatroom = Chatroom.find(last_message_sent.chatroom_id) %>
            <%= link_to "Messages", chatroom_path(chatroom.id) , class: "nav-link" %>
          <% else %>
            <%= link_to "Messages", chatrooms_no_messages_path , class: "nav-link" %>
          <% end %>
        </li>

      </div> <!-- navlink container closing tag -->


      <div class="avatar-container d-flex justify-content-end">
        <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "avatar_pl.jpg", class: "avatar", alt: "dropdown menu" %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Add venue", new_venue_path , class: "dropdown-item" %>
            <%= link_to "Add location", new_location_path , class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <% end %>
        </ul>
      </div> <!-- avatar container closing tag-->
    <%# </div> <!-- navbar collapse closing tag--> %>
  </div> <!-- container-fluid closing tag-->
</div> <!--navbar closing tag -->
