<div class="venues-index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://cf.bstatic.com/xdata/images/hotel/max1024x768/417726206.jpg?k=420cd5b76f40e573e9212f20e525ee0d8568084be0935adf30bab97eb91a144b&o=&hp=1);">
  <h1 class="header-banner">Order detail</h1>
</div>

 <div class="card mx-5 booking-card">
  <div class="card-header booking-header">
    <h1 id="booking-title">Booking details</h1>
  </div>
  <div class="card-body">

<table class="table">
      <thead>
        <tr>
          <th scope="col">Venue name</th>
          <th scope="col">Event</th>
          <th scope="col">Participants</th>
          <th scope="col">Food</th>
          <th scope="col">Beverage</th>
          <th scope="col">Date from</th>
          <th scope="col">Date to</th>
          <%# <th scope="col">Other services</th> %>
          <th scope="col">Total amount</th>
          <th scope="col">Write a review for</th>
          <th scope="col">Created at</th>
        </tr>
      </thead>


      <% @orders.each do |order| %>

      <p class="order-id d-none"><%= order.id %></p>


  <% @cart = Cart.find(order.cart_id) %>

  <% @cart.bookings.each do |booking| %>

  <% @my_booked_venues.each do |venue| %>
  <h1 class="booked-venue-name d-none"><%= venue.name %></h1>
       <tbody>
        <tr>
          <td><p><%= booking.venue.name %></p></td>
          <td><p> <%= booking.event_name %></p></td>
          <td><p><%= booking.number_of_participants %></p></td>
          <td><p><%= booking.food %></p></td>
          <td><p><%= booking.beverage %></p></td>
          <td scope="row"><%= booking.date_from %></p></td>
          <td><p><%= booking.date_to %></p></td>
         <!-- <td><p><%= booking.other_services_offered %></p></td>-->
          <td><p class="btn btn-primary" style="width: 140px; height: 40px;">Rs <%= booking.total %></p></td>
          <td><p class="btn btn-flat review-link"><%= link_to venue.name, new_venue_review_path(venue) %></p></td>
          <td><p><%= order.created_at %></h6></p></td>
<% end %>
<% end %>
<% end %>
</tr>
</tbody>
 </table>
</div>
</div>





<!-- <h1>Write a review, make someone's trip</h1>

<h1><%#= @my_booked_venues %></h1>

<% @my_booked_venues.each do |venue| %>
  <h1><%= venue.name %></h1>
  <%= link_to venue.name, new_venue_review_path(venue) %>

<% end %> -->
