<div class="venues-index-banner order-details-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://cf.bstatic.com/xdata/images/hotel/max1024x768/417726206.jpg?k=420cd5b76f40e573e9212f20e525ee0d8568084be0935adf30bab97eb91a144b&o=&hp=1);">
  <h1 class="header-banner">Booking details</h1>
</div>


 <div class="card mx-5 booking-card">
  <div class="card-header booking-header">
    <h1 id="booking-title">Your bookings</h1>
  </div>

  <div class="card-body orders-card-body">

    <table class="table order-table">
        <thead>
          <tr>
            <th scope="col">Order ref</th>
            <th scope="col">Venue name</th>
            <th scope="col">Event</th>
            <th scope="col">Participants</th>
            <th scope="col">Food</th>
            <th scope="col">Beverage</th>
            <th scope="col">Date</th>
            <%# <th scope="col">Date to</th> %>
            <%# <th scope="col">Other services</th> %>
            <th scope="col">Total amount</th>
            <th scope="col">Write a review for</th>
          </tr>
        </thead>

        <tbody>
          <% @orders.each do |order| %>
          <% @order_cart = Cart.find(order.cart_id) %>
            <% @order_cart.bookings.each do |booking| %>
            <!-- <p class="booked-venue-name d-none"><%= booking.venue.name %></p> -->
              <tr>
                <td><p class="order-id"><%= order.id %></p></td>
                <td> <p class="btn btn-flat review-link"><%= link_to booking.venue.name, venue_path(booking.venue) %></p></td>
                <td><p> <%= booking.event_name %></p></td>
                <td><p><%= booking.number_of_participants %></p></td>
                <td><p><%= booking.food %></p></td>
                <td><p><%= booking.beverage %></p></td>
                <td><%= "#{booking.date_from.strftime("%d %b")} - #{booking.date_to.strftime("%d %b %Y")}"%></td>
                <td><p class="booking-total">Rs <%= order.total %></p></td>
                <td>
                  <% if booking.date_from < Date.today %>
                    <p class="btn btn-flat review-link"><%= link_to booking.venue.name, new_venue_review_path(booking.venue) %></p>
                    <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
    </table>
  </div>
</div>







<!-- <h1>Write a review, make someone's trip</h1>

<h1><%#= @my_booked_venues %></h1>

<% @my_booked_venues.each do |venue| %>
  <h1><%= venue.name %></h1>
  <%= link_to venue.name, new_venue_review_path(venue) %>

<% end %> -->
