<h1>Your orders</h1>

<% @orders.each do |order| %>
  <p> Order Ref <%= order.id %> </p>
  <p> Order Created <%= order.created_at %> </p>

  <% @cart = Cart.find(order.cart_id) %>
  <h1>Booking details</h1>
  <% @cart.bookings.each do |booking| %>
    <p><%= booking.date_from %></p>
    <p><%= booking.date_to %></p>
    <p><%= booking.event_name %></p>
    <p><%= booking.number_of_participants %></p>
    <p><%= booking.food %></p>
    <p><%= booking.beverage %></p>
    <p><%= booking.other_services_offered %></p>
    <p>total <%= booking.total %></p>
  <% end %>
  <hr>
<% end %>
