<div class="locations-index-banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://www.oficea.com/wp-content/uploads/2023/01/gardens3.jpg);">
  <h1><strong>Payment</strong></h1>
</div>



<div id="alert-container">
  <div class="alert-content">
    <p class="page-header">Processing your oder</p>
    <p class="page-subheader">Hold tight, your order is being processed, please do not navigate away from the current window or refresh the page.</p>
  </div>
  <div class="progress progress-striped">
    <div class="progress-bar">
    </div>
  </div>
</div>



<div class="container-payment">

  <div class="container-payment-details">

    <p class="page-header">Order summary</h1>
    <p class="page-subheader">Billed today (Rs): <span> <strong> <%= @cart.total %> </strong> </span> </h1>

    <hr>

     <p class="page-header" style="margin-top:40px">Booking details</h1>
        <div class="cart-container-new-version">
        <% @cart.bookings.each_with_index do |booking, index| %>
          <div class="cart-product-container-payment">
            <% venue = booking.venue %>
            <% if venue.photos.attached? %>
              <div class= "cl_image_tag"><%= cl_image_tag venue.photos.first.key, height: 100, width: 150,  :radius=> 10, gravity: "auto", crop: "fill" %> </div>
            <% end %>
            <div class="trip-desc">
              <div>
                <p class= "card-info-title"><%= venue.name %></h2>
                <p class= ".card-info-paragraph"><%= venue.description %></p>
              </div>
              <p class= ".card-info-paragraph payment-price" > Rs <span class="trip-price"> <%= booking.total %> <span>  </p>
            </div>
          </div>
        <% end %>
      </div>

     <!--
      <% @cart.bookings.each do |booking| %>
        <% venue = booking.venue %>
        <div class="card-trip">
          <div class = "trip-image">
            <%if venue.photos.attached? %>
              <%= cl_image_tag venue.photos.first.key, height: 75, width: 75, crop: :fill%>
            <% end %>
          </div>
          <div class="trip-desc">
            <div>
              <p class= "card-info-title"><%= venue.name %></h2>
              <p class= ".card-info-paragraph"><%= venue.description %></p>
            </div>
            <h4 class="trip-price"> Rs <%= booking.total %> </h4>
          </div>
        </div>
      <% end %>
      -->
  </div>


  <div class="container-payment-form">
    <p class="page-header">Pay with card</h1>
    <%= simple_form_for [@cart,@order], data: { controller: 'alert' } do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :card_type,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: Order::CART_TYPE %>

        <%= f.input :card_number, placeholder: 'XXXX XXXX XXXX XXXX' %>

        <div class="row">
          <div class="col-md-6">
            <%= f.input :cvc, placeholder: '3 digit in the back of your card' %>
          </div>
          <div class="col-md-6">
            <%= f.input :exp_date, as: :date, discard_day: true %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <%= f.input :order_confirmation_email %>
          </div>
          <div class="col-md-6">
            <%= f.input :phone_number %>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="form-actions">
            <%= f.submit "Confirm payment", class: "btn-payment", id: "confirm-payment-button",
              data: { action: "click->alert#initSweetalert" } %>
          </div>
        </div>
    </div>
  <% end %>
  </div>
</div>
