<div class="locations-index-banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://www.oficea.com/wp-content/uploads/2023/01/gardens3.jpg);">
  <h1><strong>Payment</strong></h1>
</div>

<div class="container-payment">

  <div class="container-payment-details">

    <p class="page-header">Order summary</h1>
    <p class="page-subheader">Billed today (Rs): <span> <strong> <%= @cart.total %> </strong> </span> </h1>

    <hr>

     <p class="page-header" style="margin-top:40px">Booking details</h1>
      <% @cart.bookings.each do |booking| %>
        <% venue = booking.venue %>
        <div class="card-trip">
          <div class = "trip-image">
            <%if venue.photos.attached? %>
              <%= cl_image_tag venue.photos.first.key, height: 75, width: 75, crop: :fill%>
            <% end %>
          </div>
          <div class="trip-desc">
            <div>
              <p class= "card-info-title"><%= venue.name %></h2>
              <p class= ".card-info-paragraph"><%= venue.description %></p>
            </div>
            <h4 class="trip-price"> Rs <%= booking.total %> </h4>
          </div>
        </div>
      <% end %>
  </div>


  <div class="container-payment-form">
    <p class="page-header">Pay with card</h1>
    <%= simple_form_for [@cart,@order] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :card_type,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: Order::CART_TYPE %>

        <%= f.input :card_number, placeholder: 'XXXX XXXX XXXX XXXX' %>

        <div class="row">
          <div class="col-md-6">
            <%= f.input :cvc, placeholder: '3 digit in the back of your card' %>
          </div>
          <div class="col-md-6">
            <%= f.input :exp_date, as: :date, discard_day: true %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <%= f.input :order_confirmation_email %>
          </div>
          <div class="col-md-6">
            <%= f.input :phone_number %>
          </div>
        </div>
      </div>

      <div class="form-actions">
          <%= f.submit "Confirm payment", class: "btn btn-outline-primary" %>
      </div>
    <% end %>
  </div>
</div>
