<div class="order-success-index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://www.oficea.com/wp-content/uploads/2023/01/the-factory-1.jpg);">
  <div class="order-success-parent">
    <div class="order-success-header-banner" >
      <h1><strong>Thank You For Booking With VenueHunt!</strong></h1>
    </div>
    <div class="number-carts-banner-count">
      <!-- <h2><strong> Number of Venues in Cart: <%= @cart.venues.count %></strong></h2> -->
    </div>
  </div>
</div>
<div class="background-after-banner">
  <div class="number-of-orders">
    <h2>Number of Orders: <%= @cart.venues.count %></strong></h2><!-- <%= @cart.venues.count %></h2>-->
  </div>

  <div class="card mx-5 booking-card" id="order-sucess-card">
    <div class="card-header booking-header" id="order-sucess-header-card">
      <h1 id="booking-title">Booking Details</h1>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col text-center" id="header-table-order">Order Date</th>
            <th scope="col text-center" id="header-table-order">Order Reference</th>
            <th scope="col text-center" id="header-table-order">Venue</th>
            <th scope="col text-center" id="header-table-order">Event</th>
            <th scope="col text-center" id="header-table-order">Date</th>
            <%# <th scope="col">Date to</th> %>
            <%# <th scope="col">Other services</th> %>
            <th scope="col text-center" id="header-table-order">Total Price</th>
          </tr>
        </thead>

          <% @cart.bookings.each do |booking| %>

        <h1 class="booked-venue-name d-none"><%= booking.venue.name %></h1>
        <tbody>
          <tr>
            <td id="value-table-order"><p><%= @order.created_at %></p></td>
            <td id="value-table-order"><p><%= @order.id  %></p></td>
            <td id="value-table-order"><p><%= booking.venue.name %></p></td>
            <td id="value-table-order"><p> <%= booking.event_name %></p></td>
            <td id="value-table-order"><%= "#{booking.date_from.strftime("%d %b")} - #{booking.date_to.strftime("%d %b %Y")}"%></td>
            <!--<td scope="row"><%= booking.date_from %></p></td>
            <td><p><%= booking.date_to %></p></td>-->
            <!-- <td><p><%= booking.other_services_offered %></p></td>-->
            <td id="value-table-order"><p>Rs <%= booking.total %></p></td>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
