<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= asset_path('geo_banner3.png') %>)">
<div class="title-slogan-container">
<h1>VenueHunt</h1>
<h2>Finding the perfect venue in a snap!</h2>
</div>
</div>
<div class="container form-container">
  <div data-controller="display-suggestions">
    <%= form_with url: pages_path , method: :get, html: {class: "mb-3", data: {display_suggestions_target: "form"}} do |f| %>
      <h1><%= f.label :query, "Please describe for what event do you need a venue" %></h1>
<%# <div class="suggestions d-flex"> %>
  <div class="d-flex">
      <%= f.text_field :query,
                class: "form-control mx-2",
                value: params[:query],
                placeholder: "Describe your event",
                data: {display_suggestions_target: "input"}

      %>
      <%= f.submit "Get intelligent suggestions", data: { action: "click->display-suggestions#send"}, class: "btn btn-primary" %>
    <% end %>
    </div>

    <%= render "suggestions"%>
  </div>
<div>
<div class="container explore-container p-0">
 <div class="explore-container d-flex justify-content-between mb-2 mt-5">
    <h2>More to explore</h2>
    <a class="btn btn-flat align-content-center justify-content-center" href="#">Discover more venues</a>
    </div>

  <br>
  <div class="row gy-5 d-flex">
         <div class="col col-12 col-md-6 col-lg-4">
          <div class="card shadow">
            <div class="card-img">
              <img class="image_tag" src="https://mauritiusattractions.com/slir/w640-c2x1/content/images/gallery/321/eureka-house-mauritius-maison-eureka-maurice%20(1).jpg" width="414px" alt="Venue Img" class="card-top-img"/>
            </div>
            <div class="card-body">
              <h4 class="card-title"><strong>Eureka House</strong></h4>
              <h5>venue.location</h5>
              <h5>Rs venue price</h5>
              <div class="card-button-venue text-center venue-text-clr">
                <strong>View venue</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card shadow">
            <div class="card-img">
              <img class="image_tag" src="https://media.tacdn.com/media/attractions-splice-spp-674x446/0b/39/b3/cc.jpg" width="414px" alt="Venue Img" class="card-top-img"/>
            </div>
            <div class="card-body">
              <h4 class="card-title"><strong>Casela</strong></h4>
              <h5>venue.location</h5>
              <h5>Rs venue price</h5>
              <div class="card-button-venue text-center venue-text-clr">
                <strong>View venue</strong>
              </div>
            </div>
          </div>
        </div>
  <div class="col-12 col-md-6 col-lg-4">
          <div class="card shadow">
            <div class="card-img">
              <img class="image_tag" src="https://user-assets.sharetribe.com/images/listing_images/images/5376977/big/valetta-vivea-business-park-02132023_154210.jpg?1679412328" width="414px" alt="Venue Img" class="card-top-img"/>
            </div>
            <div class="card-body">
              <h4 class="card-title"><strong>Vivea Business Park</strong></h4>
              <h5>venue.location</h5>
              <h5>Rs venue price</h5>
              <div class="card-button-venue text-center venue-text-clr">
                 <strong>View venue</strong>
              </div>
            </div>
          </div>
        </div>
  </div>
  </div>
</div>
   </div>
    <%# <div class="row col-2 d-flex justify-content-center mx-auto">
    <a class="btn btn-flat align-content-center justify-content-center" href="#">Discover more venues</a>
    </div> %>
    </div>
