
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= asset_path('banner2.png') %>)">

</div>

<div class="container form-container">

  <div data-controller="display-suggestions">

    <%= form_with url: pages_path , method: :get, html: {class: "mb-4", data: {display_suggestions_target: "form"}} do |f| %>
      <%= f.label :query, "Please describe for what event do you need a venue" %>
      <%= f.text_field :query,
                class: "form-control sugg-form-contro",
                value: params[:query],
                placeholder: "Describe your event",
                data: {display_suggestions_target: "input"}
      %>
      <%= f.submit "Get intelligent suggestions", data: { action: "click->display-suggestions#send" } %>
    <% end %>

    <%= render "suggestions" %>
  </div>

  <div class="container">
    <h2>Our top 3 Venues</h2>
      <div class="row gy-5 d-flex">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card shadow">
            <div class="card-img">
              <img class="image_tag" src="https://images.squarespace-cdn.com/content/v1/5861eb4729687f7c77275f67/1636778308534-WXETM2COOEMMMU6H7KVT/SurrinaPlemons_Wheatley_HiRes-52.jpg?format=500w" width="414px" alt="Venue Img" class="card-top-img"/>
            </div>
            <div class="card-body">
              <h4 class="card-title"><strong>venue.name</strong></h4>
              <h5>venue.location</h5>
              <h5>Rs venue price
              </h5>
              <div class="card-button-venue text-center">
                <a> <strong>View venue</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row col-3 d-flex justify-content-center mx-auto">
      <a class="btn btn-flat align-content-center justify-content-center" href="#">Discover more venues</a>
    </div>
  </div>
<div>
