<div class="venues-index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://www.oficea.com/wp-content/uploads/2023/02/vivea.-2.jpg);">
  <h1 class="header-banner">Venues</h1>
</div>

<div class="row justify-content-center">
  <div class="">
    <%= form_with model: @venue, url: venues_path, method: :get, html: { class: "" } do |f| %>

      <div class="form-group search-venues-container">
        <h4 class="header-search-venues"><%= f.label :search_query, "Search Venue" %></h4>
        <%= f.text_field :search_query,
                  class: "form-control search-venues-bar",
                  value: params[:search_query],
                  placeholder: "Search by name or description" %>
      </div>

      <div class="form-group select-venue-types-container">
        <h4 class="header-search-venues"><%= f.label :venuetype_id, "Select Venue Types" %></h4>
        <%= f.collection_check_boxes :venuetype_id, Venuetype.all, :id, :name, { item_label_class: 'my-custom-class' } do |b| %>
          <%= b.check_box checked: @venuetypes.include?(b.value.to_s) %>
          <%= b.label %>
        <% end %>
      </div>

      <div class="form-group select-locations">
        <h4 class="header-search-venues"><%= f.label :location_id, "Select Locations" %></h4>
        <%= f.collection_check_boxes :location_id, Location.all, :id, :name, { item_label_class: 'my-custom-class' } do |b| %>
          <%= b.check_box checked: @locations.include?(b.value.to_s) %>
          <%= b.label %>
        <% end %>
      </div>

      <div class="form-group btn-filter">
        <%= f.submit "Apply filters", name: "" %>
      </div>
    <% end %>
  </div>
</div>


<div class="count-container">
  <h2>Number of Venues Listed: <%= @venues.count %></h2>
</div>


<div class="container">
  <div class="row gy-5 d-flex">
    <% @venues.each do |venue| %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card shadow">
        <div class="card-img">
          <img class="image_tag" src="https://images.squarespace-cdn.com/content/v1/5861eb4729687f7c77275f67/1636778308534-WXETM2COOEMMMU6H7KVT/SurrinaPlemons_Wheatley_HiRes-52.jpg?format=500w" alt="Venue Img" class="card-top-img"/>
        </div>
        <div class="card-body">
          <h4 class="card-title"><strong><%= venue.name %></strong></h4>
          <h5><%= venue.location.name %></h5>
          <h5>Rs <%= venue.price  %></h5>
          <div class="card-button-venue text-center">
            <a> <strong><%= link_to "View Venue", venue_path(venue), class:"text-decoration-none" %></strong>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<br>
