<h1>Venues index</h1>

<h1>Count: <%= Venue.count %></h1>


<% @venues.each do |venue| %>
  <h3><%= link_to venue.name, venue_path(venue),  class:"text-decoration-none" %></h3>
  <p><%= venue.location.name %></p>
  <p><%= venue.address  %></p>
  <p><%= venue.price  %></p>
  <p>Owner <%= venue.user_id  %></p>
  <%#= button_to "delete", venue_path(venue), method: :delete  %>
<% end %>
