<div class="carts-index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://www.oficea.com/wp-content/uploads/2023/01/The-roots.jpg);">
  <div class="carts-parent">
    <div class="carts-header-banner">
      <h1><strong>Your Cart</strong></h1>
    </div>
    <div class="number-carts-banner-count">
      <!-- <h2><strong> Number of Venues in Cart: <%= @cart.venues.count %></strong></h2> -->
    </div>
  </div>
</div>

<!-- <h1>Cart ID --> <% @cart.id %><!-- </h1> -->
<div class="part-after-banner">
  <div class="items-header-cart">
    <h2><%= @cart.venues.count %> Venues in Cart <i class="fa-solid fa-cart-shopping fa-2xl(100% increase)" style="font-size: 30px; color: #13293D;"></i></strong></h2><!-- <%= @cart.venues.count %></h2>-->
  </div>
  <div class="container">
    <div class="row d-flex cart-list-parent">
      <div class="col-12 col-md-9 cart-list-child">
        <div class="cart-container-new-version">
          <table>
            <tr>
              <th class="table-header-first text-center"></th>
              <th class="text-center">Event</th>
              <th class="text-center">Venue</th>
              <th class="text-center">Booking Dates</th>
              <th class="text-center">Price</th>
              <th class="table-header-last text-center"></th>
            </tr>
            <% @cart.bookings.each do |booking| %>
            <tr>
              <td>
                <div class="event-info">
                  <div class="photo-container">
                    <%if booking.venue.photos.attached? %>
                      <% booking.venue.photos.each_with_index do |photo| %>
                        <div class= "cl_image_tag"><%= cl_image_tag photo.key, height: 180, width: 200 %></div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </td>
              <td class="text-center"><%= booking.event_name %></td>
              <td class="text-center"><%= booking.venue.name %></td>
              <td class="text-center"><%= "#{booking.date_from.strftime("%d %b")} - #{booking.date_to.strftime("%d %b %Y")}"%></td>
              <td class="text-center">Rs <%= booking.total_price %></td>
              <td class="delete-button text-center">
                <a><strong><%= link_to "Delete", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></strong>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-3 cart-checkout">
        <h3>Cart Summary</h3>
        <hr>
        <h4>Subtotal: Rs <%= @cart.sub_total %></h4>
        <p>15% For Venue Hunt</p>
        <h4>Total: Rs <%=  @cart.total %></h4>
        <div class="cart-checkout-buttons">
          <div class="cart-checkout-button1">
            <a> <strong><%= link_to "Add another venue to cart", venues_path%></strong>
          </div>
          <div class="cart-checkout-button2">
            <a> <strong><%= link_to "Empty cart", cart_path(@cart),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></strong>
          </div>
          <div class="cart-checkout-button3">
            <a> <strong><%= link_to "Proceed to checkout", new_cart_order_path(@cart) %></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
