<div class="carts-index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://www.oficea.com/wp-content/uploads/2023/01/The-roots.jpg);">
  <div class="carts-parent">
    <div class="carts-header-banner">
      <h1><strong>Your Cart</strong></h1>
    </div>
    <div class="number-carts-banner-count">
      <!-- <h4><strong> Number of Venues in Cart: <%= @cart.venues.count %></strong></h4> -->
    </div>
  </div>
</div>

<!-- <h4>Cart ID --> <% @cart.id %><!-- </h4> -->
<div class="part-after-banner">
  <div class="items-header-cart">
    <h3><%= @cart.venues.count %> Venues in Cart <i class="fa-solid fa-cart-shopping fa-2xl(100% increase)" style="font-size: 30px; color: #13293D; padding-left: 5px"></i></strong></h3><!-- <%= @cart.venues.count %>-->
  </div>
  <div class="container">
    <div class="row d-flex cart-list-parent">
      <div class="col-12 col-md-8 cart-list-child">
        <div class="cart-container-new-version">
        <% @cart.bookings.each_with_index do |booking, index| %>
          <div class="cart-product-container">
            <% venue = booking.venue %>
            <% if venue.photos.attached? %>
              <div class= "cl_image_tag"><%= cl_image_tag venue.photos.first.key, height: 200, width: 300,  :radius=> 10, gravity: "auto", crop: "fill" %> </div>
            <% end %>
            <div class="cart-product-infos">
              <div class="cart-product-infos-upper-wrapper">
                <h3>Venue: <%= booking.venue.name %></h3>
                <h3>Event: <%= booking.event_name %></h3>
              </div>
              <div class="cart-text-infos">
                <h4><i class="fa-solid fa-person me-2" style="font-size: 20px;"></i>Number of Participants: <%= booking.number_of_participants %></h4>
                <h4><i class="fa-solid fa-clock me-2" style="font-size: 16px;"></i>Booking Period: <%= "#{booking.date_from.strftime("%d %b")} - #{booking.date_to.strftime("%d %b %Y")}"%></h4>

                <h4><i class="fa-solid fa-circle-info me-2" style="font-size: 16px;"></i>Other Services included : <span id="services-offered"><%= booking.other_services_offered ? "Yes" : "No" %> </span></h4>
                <h4><i class="fa-solid fa-utensils me-2" style="font-size: 16px;"></i>Food and Beverages included : <span id="food-bev-offered"><%= booking.food ? "Yes" : "No" %></span></h4>
                <h4><i class="fa-solid fa-money-bill-1-wave me-2" style="font-size: 16px;"></i>Rs <span id="venue-price"><%= booking.total_price %></h4>
              </div>
            </div>
            <div class="delete-container-icon">
              <div class="cart-venue-review text-end">
                <span class="venue-rating" >
                  <% rating_venue = rand(80..95)/10.0 %>
                  Rating <%= rating_venue %> <i class="fa-solid fa-star" style="color: #f5d400;"></i>
                </span>
              </div>
              <div class="delete-button text-end">
                <a><strong><%= link_to booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %></strong>
                  <i class="fa-solid fa-trash-can" style="font-size: 21px; color: #13293D; padding-left: 5px"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
      <div class="col-12 col-md-4 cart-checkout">
        <h3>Cart Summary</h3>
        <hr>
        <h4>Subtotal: Rs <%= @cart.sub_total %></h4><p>
        <p>15% For Venue Hunt</p>
        <h4>Total: Rs <%=  @cart.total %></h4>
        <div class="cart-checkout-buttons">
          <div class="cart-checkout-button1">
            <a> <strong><%= link_to "Add another venue to cart", venues_path%></strong>
          </div>
          <div class="cart-checkout-button2">
            <a> <strong><%= link_to "Empty whole cart", cart_path(@cart),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></strong>
          </div>
          <div class="cart-checkout-button3">
            <a> <strong><%= link_to "Proceed to checkout", new_cart_order_path(@cart) %></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
