<div class="venues-index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://www.traveligo.pl/repository/hotels/11669/BVPR-6489-10.jpg);">
    <h1 class="header-banner">Reviews</h1>
</div>

<div class="grid-container">

<div class="grid-item review-grid-item">

<h2>Tell us, how was your stay ?</h2>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner h-75">
    <%if @venue.photos.attached? %>
       <% @venue.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
                <%= cl_image_tag photo.key, height: 400, width: 800 %>
            </div>
          <% end %>
      <h1> <%= @venue.name %> </h1>
    <% end %>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> <!-- carousel-inner h-75 closing tag -->
    </div> <!-- carousel slide closing tag -->
  </div> <!-- grid-item closing tag -->


<div class="grid-item review-grid-item">

<div>

  <%= simple_form_for([@venue, @review]) do |f| %>

    <%= f.input :title, label: "Title your review" %>

    <%= f.input :content, label: "Write your review"  %>

    <%#= f.input :rating, label: "How would you rate your experience" %>

    <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>

    <%= f.input :booking_purpose, label: "What was the purpose for the booking"  , collection: Booking::PURPOSES %>

    <%= f.input :venue_id, as: :hidden, input_html: { value: @venue.id } %>
    <div class="review-btn btn btn-flat">
    <%= f.button :submit %>
    </div>
  <% end %>

  <!-- <div>
    <% if @venue.reviews.blank? %>
      Be the first to leave a review for <%= @venue.name %>
    <% else %>
    <h1>All reviews</h1>
      <% @venue.reviews.each do |review| %>
        <p>title: <%= review.title %></p>
        <p>Review: <%= review.content %></p>
        <p>rating: <%= review.rating %></p>
        <p>purpose: <%= review.booking_purpose %></p>
        <p>Created: <%= review.created_at %></p>
        <p>Created by: <%= User.find(review.user_id).email %></p>
        <hr>
      <% end %>
    <% end %>
  </div> -->

</div>

</div> <!-- grid-item closing tag -->

</div> <!-- grid-container closing tag -->
