<p>Locations</p>

<div style="width: 100%; height: 60vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-currentlocation-value="<%= @company_address.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

    <div data-map-target="insertlocations" style="width: 100%; height: 20vh">
      <h3>Nearest locations from Company name: <%= @user.company_name %> which is situated at <%= @user.company_address %></h3>
    </div>

    <div data-map-target="content" style="width: 100%; height: 40vh;"></div>
</div>

<ul>
  <% @locations.each do |location| %>
    <li>
      <h1><%= location.name %></h1>
      <h3><%= location.outline %></h3>
      <p><%= location.description %></p>

      <%if location.photos.attached? %>
          <% location.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
      <% end %>
    </li>

    <% @venues = Venue.where(location_id: location) %>
    <% @venues.each do |venue| %>
      <%= venue.name %>
      <%= venue.address %>
    <% end %>

  <% end %>
</ul>
