<div class="locations-index-banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://www.oficea.com/wp-content/uploads/2023/01/gardens3.jpg);">
  <h1>Locations</h1>
</div>

<div class="map-locations-container" style="width: 100%; font-family: Helvetica, sans-serif;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-currentlocation-value="<%= @company_address.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

    <div class="only-map-container" data-map-target="content" style="width: 98%; height: 70vh;"></div>

    <div class="only-insertlocations-container" data-map-target="insertlocations">
      <p class="sentence-insertlocations">The following locations are nearest to <strong> <%= @user.company_name %>:</strong></p>
    </div>
</div>

<div class="locations-lower-lists-container">
  <div class="locations-filter-child-container">
    <% @locations.each do |location| %>
      <%= link_to "#location-#{location.id}" , class:"text-decoration-none" do %>
        <h2 class="header-locations-filter"><strong><%= location.name.upcase %></strong></h2>
      <% end %>
    <% end %>
  </div>
  <div class="specific-location-parent-container">
    <div class="specific-location-child-container">
      <% @locations.each do |location| %>
        <h3 id="location-<%= location.id %>"><strong><%= location.name %></strong></h3>
        <h4><strong><%= location.outline %></strong></h4>
        <div class="child-locations-paragraph">
          <p><%= location.description %></p>
        </div>
        <%if location.photos.attached? %>
          <div><%= cl_image_tag location.photos.first.key, height: 300, width: 1300,  :radius=> 9, crop: "fill" %> </div>

          <!--
          <% location.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 1300, :radius=> 9, crop: "fill" %>
          <% end %>
          -->
        <% end %>
      <div class="specific-location-venue-child-container">
        <strong><h3 style="padding-bottom: 20px;padding-top: 0px; color: #13293D; font-family: Helvetica, sans-serif;">A sneak peek of 3 spots situated in <%= location.name %> :</strong></h3>
        <!--v<% @venues = Venue.where(location_id: location) %>
        <% @venues.each do |venue| %>
          <%= venue.name %>
          <%= venue.address %>
        <% end %>v-->
        <div class="container" style="margin-bottom:60px;">
          <div class="row gy-5 d-flex">
            <% @venues.each_with_index do |venue, index| %>
              <% if index < 3 %>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card shadow venue-card">
                    <div class="card-img venue-card-img">
                        <%if venue.photos.attached? %>
                        <div class= "image_tag"><%= cl_image_tag venue.photos.first.key, height: 270, width: 450,  :radius=> 10, gravity: "auto", crop: "fill" %> </div>
                          <!-- <% venue.photos.each_with_index do |photo| %>
                              <div class= "image_tag"><%= cl_image_tag photo.key, height: 270, width: 450 %></div>
                            <% end %>
                            -->
                        <% end %>
                      <%# <img class="image_tag" src="https://images.squarespace-cdn.com/content/v1/5861eb4729687f7c77275f67/1636778308534-WXETM2COOEMMMU6H7KVT/SurrinaPlemons_Wheatley_HiRes-52.jpg?format=500w" alt="Venue Img" class="card-top-img"/> %>
                    </div>
                    <div class="card-body venue-card-body">
                      <strong><h4 class="card-title venue-card-title text-start"><strong><%= venue.name %></strong></h4></strong>
                      <div class="card-text-container">
                        <div class="card-text-container1 d-flex justify-content-md-between">
                          <p><i class="fa-solid fa-clock me-2"></i>Opening: <%= venue.opening_time.strftime("%H:%M") unless venue.opening_time.nil?  %></p>
                          <p><i class="fa-solid fa-clock me-2"></i>Closing: <%= venue.closing_time.strftime("%H:%M") unless venue.opening_time.nil?  %></p>
                        </div>
                        <div class="card-text-container1 d-flex justify-content-md-between">
                          <div class="price-container text-start">
                            <p><i class="fa-solid fa-money-bill-1-wave me-2"></i>Price: Rs <%= venue.price %></p>
                          </div>
                          <div class="space-container text-start">
                            <p><i class="fa-solid fa-layer-group me-2"></i><%= venue.space_size  %> m</p>
                          </div>
                        </div>
                        <div class="card-text-container1 d-flex justify-content-md-between">
                          <p><i class="fa-solid fa-map-location me-2"></i><%= venue.address %></p>
                        </div>
                        <div class="card-button-venue text-center">
                          <a><strong><%= link_to "View More Detail", venue_path(venue), class:"text-decoration-none" %></strong>
                          <i class="fa-solid fa-arrow-right-long" style="color: #229eb2; font-size:18px; font-weight:bold; padding-left:10px;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% else %>
                <% break %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
